<a href="https://colab.research.google.com/github/jafetimbre/mib-fiesta/blob/master/src/housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/jafetimbre/mib-fiesta/master/data/housing.csv')
data.head()

           id             date   price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000  ... -122.045           1800        7503

[5 rows x 21 columns]

In [11]:
data[data.price==data.price.max()]

              id             date    price  ...     long  sqft_living15  sqft_lot15
7252  6762700020  20141013T000000  7700000  ... -122.323           3940        8800

[1 rows x 21 columns]