<a href="https://colab.research.google.com/github/jafetimbre/mib-fiesta/blob/master/src/temperature_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/jafetimbre/mib-fiesta/master/data/temperatures.csv', encoding='latin-1')
data.head()

   Area Code         Area  Months Code    Months  ...  Y2016  Y2017  Y2018  Y2019
0          2  Afghanistan         7001   January  ...  3.416  1.201  1.996  2.951
1          2  Afghanistan         7001   January  ...  1.950  1.950  1.950  1.950
2          2  Afghanistan         7002  February  ...  2.251 -0.323  2.705  0.086
3          2  Afghanistan         7002  February  ...  2.597  2.597  2.597  2.597
4          2  Afghanistan         7003     March  ...  2.296  0.834  4.418  0.234

[5 rows x 65 columns]